.VendingWindow__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 28px;
  user-select: none;
  -ms-user-select: none;
  font-size: 14px;
}

.VendingWindow__content .Layout__content {
  margin-top: 28px;
  font-size: 14px;
}
