.dockerignore
.editorconfig
GPLv3.txt
LICENSE
README.md
.github
.gitignore
.gitattributes
.git/hooks
.git/info
.git/modules
.git/objects
.git/refs
.vs*
cfg
data
SQL
tgui/node_modules
tgmc.dmb
tgmc.int
tgmc.rsc
tgmc.lk
tgmc.dyn.rsc
libmariadb.dll
rust_g.dll
appveyor.yml
Dockerfile
