#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.mdme
*.mdme.*
*.m.dme
*.test.dme
*.dmb
*.lk
*.backup
*.dmm.before
*.cache
*.pyc
data/
cfg/
tmp/
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt

#Visual studio stuff
*.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json

tools/BalanceTool/raw.json


# Ignore compiled linux libs in the root folder, e.g. librust_g.so
/*.so

#extra map stuff
/_maps/**/backup/
/_maps/templates.dm

# DM Doc ignores
dmdoc/*

tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs
