#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.mdme
*.mdme.*
*.m.dme
*.test.dme
*.dmb
*.lk
*.backup
*.dmm.before
*.cache
*.pyc
data/
cfg/
tmp/
/cache/**/*
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt

#Visual studio stuff
/.vs/**/*
*.vscode/*
!/.vscode/extensions.json
!/.vscode/launch.json
!/.vscode/tasks.json

tools/BalanceTool/raw.json


# Ignore compiled linux libs in the root folder, e.g. librust_g.so
/*.so

# byond-tracy, we intentionally do not ship this and do not want to maintain it
prof.dll
libprof.so

#extra map stuff
/_maps/**/backup/
/_maps/templates.dm

# DM Doc ignores
dmdoc/*

tools/UnstandardnessTestForDM/UnstandardnessTestForDM/obj/x86/Debug/.NETFramework,Version=v4.0,Profile=Client.AssemblyAttributes.cs

tools/hyperscale_converter/output/*

# JavaScript tools
**/node_modules

# named byond versions config
/tools/build/dm_versions.json

# From /tools/define_sanity/check.py - potential output file that we load onto the user's machine that we don't want to have committed.
define_sanity_output.txt

# ezdb
/db/
/config/ezdb.txt

# Local overrides - you can use this to change the config for your dev environment without worrying about committing it
/config/dev_overrides.txt

# Running OpenDream locally
tgmc.json
rust_g64.dll
