#ignore misc BYOND files
Thumbs.db
*.log
*.int
*.rsc
*.dmb
*.lk
*.backup
*.dmm.before
*.cache
data/
cfg/
tmp/
tools/Runtime Condenser/Input.txt
tools/Runtime Condenser/Output.txt
tools/MapDaemon/logs/*.txt

#Visual studio stuff
*.vscode/*
!/.vscode/extensions.json

tools/BalanceTool/raw.json

#extra map stuff
/_maps/**/backup/
/_maps/templates.dm

# DM Doc ignores
dmdoc/*
