# force line endings
* text eol=lf

# text
*.bat text eol=lf
*.cjs text eol=lf
*.dm text eol=lf
*.dme text eol=lf
*.dmf text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.scss text eol=lf
*.sh text eol=lf
*.toml text eol=lf
*.txt text eol=lf
*.yml text eol=lf

# binary
*.dll binary
*.eot binary
*.exe binary
*.jpeg binary
*.jpg binary
*.ogg binary
*.pdb binary
*.png binary
*.ttf binary
*.wav binary
*.woff binary
*.woff2 binary

# merger hooks, run tools/hooks/install.bat or install.sh to set up
*.dmm text eol=lf merge=dmm
*.dmi binary merge=dmi
