<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;anti_juggling - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/anti_juggling.html#var">Var Details</a> - <a href="datum/component/anti_juggling.html#proc">Proc Details</a></header>
<main>
<h1>anti_juggling <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/anti_juggling.html">anti_juggling</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/anti_juggling.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;anti_juggling.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/anti_juggling.html#var/next_fire_time">next_fire_time</a></th><td>The next time the gun we just fired will be able to fire</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/anti_juggling.html#proc/check_cooldown">check_cooldown</a></th><td>Checks if the cooldown of the gun we previously fired is up.</td></tr>
            <tr><th><a href="datum/component/anti_juggling.html#proc/on_fire">on_fire</a></th><td>Gets called when the mob fires a gun, we get the gun they fired and store the next time it'll be able to fire.</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/next_fire_time"><aside class="declaration">var </aside>next_fire_time
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/anti_juggling.dm#L3">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;anti_juggling.dm 3"/></a></h3>
        <p>The next time the gun we just fired will be able to fire</p><h2 id="proc">Proc Details</h2><h3 id="proc/check_cooldown"><aside class="declaration">proc </aside>check_cooldown<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/<a href="obj/item/weapon.html">weapon</a>/<a href="obj/item/weapon/gun.html">gun</a>/cool_gun) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/anti_juggling.dm#L21">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;anti_juggling.dm 21"/></a></aside>
        </h3>
        <p>Checks if the cooldown of the gun we previously fired is up.</p><h3 id="proc/on_fire"><aside class="declaration">proc </aside>on_fire<aside>(/<a href="datum.html">datum</a>/source, /<a href="obj.html">obj</a>/<a href="obj/item.html">item</a>/<a href="obj/item/weapon.html">weapon</a>/<a href="obj/item/weapon/gun.html">gun</a>/fired_gun) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/anti_juggling.dm#L13">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;anti_juggling.dm 13"/></a></aside>
        </h3>
        <p>Gets called when the mob fires a gun, we get the gun they fired and store the next time it'll be able to fire.</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/tgstation/TerraGov-Marine-Corps/tree/bfeaf60f069b9d753b339afccdc0b16b13f5cff1">bfeaf60</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
