<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;mobile_power - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/mobile_power.html#var">Var Details</a> - <a href="datum/component/mobile_power.html#proc">Proc Details</a></header>
<main>
<h1>mobile_power <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/mobile_power.html">mobile_power</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L2">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 2"/></a></h1>

<p>This component powers things in a range via signal intercepts instead of via area</p><table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/mobile_power.html#var/active">active</a></th><td>active state</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#var/machines_to_power">machines_to_power</a></th><td>machines this will power</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#var/power_used">power_used</a></th><td>power used this tick</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#var/size">size</a></th><td>area size</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/activate">activate</a></th><td>Enable power</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/clear_machines">clear_machines</a></th><td>Remove all machines in our machine list</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/deactivate">deactivate</a></th><td>Disable power</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/find_machines_in_range">find_machines_in_range</a></th><td>Populate the machine list, do this as little as possible, range() is expensive</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/glob_anchor_changed">glob_anchor_changed</a></th><td>Find new machines anchored inside our area</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/obj_anchor_changed">obj_anchor_changed</a></th><td>Deal with one of our machines being unanchored</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/parent_anchored">parent_anchored</a></th><td>Handle parent being anchored/unanchored</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/parent_process">parent_process</a></th><td>Parent ticks over, reset power usage</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/power_toggle">power_toggle</a></th><td>Parent active state toggled</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/powered">powered</a></th><td>Handle powered() machine checks</td></tr>
            <tr><th><a href="datum/component/mobile_power.html#proc/use_power">use_power</a></th><td>Handle use_power() machine checks</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/active"><aside class="declaration">var </aside>active
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L8">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 8"/></a></h3>
        <p>active state</p><h3 id="var/machines_to_power"><aside class="declaration">var </aside>machines_to_power
            <aside>&ndash; /list</aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L4">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 4"/></a></h3>
        <p>machines this will power</p><h3 id="var/power_used"><aside class="declaration">var </aside>power_used
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L10">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 10"/></a></h3>
        <p>power used this tick</p><h3 id="var/size"><aside class="declaration">var </aside>size
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L6">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 6"/></a></h3>
        <p>area size</p><h2 id="proc">Proc Details</h2><h3 id="proc/activate"><aside class="declaration">proc </aside>activate<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L113">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 113"/></a></aside>
        </h3>
        <p>Enable power</p><h3 id="proc/clear_machines"><aside class="declaration">proc </aside>clear_machines<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L43">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 43"/></a></aside>
        </h3>
        <p>Remove all machines in our machine list</p><h3 id="proc/deactivate"><aside class="declaration">proc </aside>deactivate<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L119">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 119"/></a></aside>
        </h3>
        <p>Disable power</p><h3 id="proc/find_machines_in_range"><aside class="declaration">proc </aside>find_machines_in_range<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L103">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 103"/></a></aside>
        </h3>
        <p>Populate the machine list, do this as little as possible, range() is expensive</p><h3 id="proc/glob_anchor_changed"><aside class="declaration">proc </aside>glob_anchor_changed<aside>(/<a href="obj.html">obj</a>/<a href="obj/machinery.html">machinery</a>/machine, anchorstate) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L75">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 75"/></a></aside>
        </h3>
        <p>Find new machines anchored inside our area</p><h3 id="proc/obj_anchor_changed"><aside class="declaration">proc </aside>obj_anchor_changed<aside>(/<a href="obj.html">obj</a>/source, anchorstate) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L91">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 91"/></a></aside>
        </h3>
        <p>Deal with one of our machines being unanchored</p><h3 id="proc/parent_anchored"><aside class="declaration">proc </aside>parent_anchored<aside>(/<a href="obj.html">obj</a>/source, anchorstate) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L54">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 54"/></a></aside>
        </h3>
        <p>Handle parent being anchored/unanchored</p><h3 id="proc/parent_process"><aside class="declaration">proc </aside>parent_process<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L62">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 62"/></a></aside>
        </h3>
        <p>Parent ticks over, reset power usage</p><h3 id="proc/power_toggle"><aside class="declaration">proc </aside>power_toggle<aside>(/<a href="datum.html">datum</a>/source, active) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L67">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 67"/></a></aside>
        </h3>
        <p>Parent active state toggled</p><h3 id="proc/powered"><aside class="declaration">proc </aside>powered<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L127">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 127"/></a></aside>
        </h3>
        <p>Handle powered() machine checks</p><h3 id="proc/use_power"><aside class="declaration">proc </aside>use_power<aside>(/<a href="obj.html">obj</a>/<a href="obj/machinery.html">machinery</a>/machine, amount, chan, /list/power_sources) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/mobile_power.dm#L135">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;mobile_power.dm 135"/></a></aside>
        </h3>
        <p>Handle use_power() machine checks</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/tgstation/TerraGov-Marine-Corps/tree/bfeaf60f069b9d753b339afccdc0b16b13f5cff1">bfeaf60</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
