<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;automatedfire&#x2F;autofire - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/automatedfire/autofire.html#var">Var Details</a> - <a href="datum/component/automatedfire/autofire.html#proc">Proc Details</a></header>
<main>
<h1>autofire <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/automatedfire.html">automatedfire</a>/<a href="datum/component/automatedfire/autofire.html">autofire</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L1">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 1"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Vars</h2></td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/auto_burst_fire_shot_delay">auto_burst_fire_shot_delay</a></th><td>Delay between two volley of burst</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/auto_fire_shot_delay">auto_fire_shot_delay</a></th><td>Delay between two shots when in full auto</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/burst_shots_to_fire">burst_shots_to_fire</a></th><td>How many bullets are fired in burst mode</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/burstfire_shot_delay">burstfire_shot_delay</a></th><td>Delay between two burst shots</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/bursting">bursting</a></th><td>If we are in a burst</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/callback_bursting">callback_bursting</a></th><td>Callback to set bursting mode on the parent</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/callback_fire">callback_fire</a></th><td>Callback to ask the parent to fire</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/callback_reset_fire">callback_reset_fire</a></th><td>Callback to ask the parent to reset its firing vars</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/fire_mode">fire_mode</a></th><td>The current fire mode of the shooter</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/have_to_reset_at_burst_end">have_to_reset_at_burst_end</a></th><td>If TRUE, the shooter will reset its references at the end of the burst</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/shooting">shooting</a></th><td>If the shooter is currently shooting</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#var/shots_fired">shots_fired</a></th><td>Count the shots fired when bursting</td></tr><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/hard_reset">hard_reset</a></th><td>We are burst firing, we can't clean the state now. We will do it when the burst is over
Hard reset the autofire, happens when the shooter fall/is thrown, at the end of a burst or when it runs out of ammunition</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/initiate_shot">initiate_shot</a></th><td>Insert the component in the bucket system if it was not in already</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/modify_autoburstfire_shot_delay">modify_autoburstfire_shot_delay</a></th><td>Setter for autoburst shot delay</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/modify_burst_shots_to_fire">modify_burst_shots_to_fire</a></th><td>Setter for the number of shot in a burst</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/modify_burstfire_shot_delay">modify_burstfire_shot_delay</a></th><td>Setter for burst shot delay</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/modify_fire_mode">modify_fire_mode</a></th><td>Setter for fire mode</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/modify_fire_shot_delay">modify_fire_shot_delay</a></th><td>Setter for auto fire shot delay</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/process_shot">process_shot</a></th><td>Ask the shooter to fire and schedule the next shot if need</td></tr>
            <tr><th><a href="datum/component/automatedfire/autofire.html#proc/stop_firing">stop_firing</a></th><td>Remove the component from the bucket system if it was in</td></tr></table>
    <h2 id="var">Var Details</h2><h3 id="var/auto_burst_fire_shot_delay"><aside class="declaration">var </aside>auto_burst_fire_shot_delay
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L9">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 9"/></a></h3>
        <p>Delay between two volley of burst</p><h3 id="var/auto_fire_shot_delay"><aside class="declaration">var </aside>auto_fire_shot_delay
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L5">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 5"/></a></h3>
        <p>Delay between two shots when in full auto</p><h3 id="var/burst_shots_to_fire"><aside class="declaration">var </aside>burst_shots_to_fire
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L11">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 11"/></a></h3>
        <p>How many bullets are fired in burst mode</p><h3 id="var/burstfire_shot_delay"><aside class="declaration">var </aside>burstfire_shot_delay
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L7">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 7"/></a></h3>
        <p>Delay between two burst shots</p><h3 id="var/bursting"><aside class="declaration">var </aside>bursting
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L19">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 19"/></a></h3>
        <p>If we are in a burst</p><h3 id="var/callback_bursting"><aside class="declaration">var </aside>callback_bursting
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L21">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 21"/></a></h3>
        <p>Callback to set bursting mode on the parent</p><h3 id="var/callback_fire"><aside class="declaration">var </aside>callback_fire
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L27">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 27"/></a></h3>
        <p>Callback to ask the parent to fire</p><h3 id="var/callback_reset_fire"><aside class="declaration">var </aside>callback_reset_fire
            <aside>&ndash; /<a href="datum.html">datum</a>/<a href="datum/callback.html">callback</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L23">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 23"/></a></h3>
        <p>Callback to ask the parent to reset its firing vars</p><h3 id="var/fire_mode"><aside class="declaration">var </aside>fire_mode
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L3">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 3"/></a></h3>
        <p>The current fire mode of the shooter</p><h3 id="var/have_to_reset_at_burst_end"><aside class="declaration">var </aside>have_to_reset_at_burst_end
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L17">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 17"/></a></h3>
        <p>If TRUE, the shooter will reset its references at the end of the burst</p><h3 id="var/shooting"><aside class="declaration">var </aside>shooting
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L15">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 15"/></a></h3>
        <p>If the shooter is currently shooting</p><h3 id="var/shots_fired"><aside class="declaration">var </aside>shots_fired
            <aside>&ndash; </aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L13">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 13"/></a></h3>
        <p>Count the shots fired when bursting</p><h2 id="proc">Proc Details</h2><h3 id="proc/hard_reset"><aside class="declaration">proc </aside>hard_reset<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L101">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 101"/></a></aside>
        </h3>
        <p>We are burst firing, we can't clean the state now. We will do it when the burst is over
Hard reset the autofire, happens when the shooter fall/is thrown, at the end of a burst or when it runs out of ammunition</p><h3 id="proc/initiate_shot"><aside class="declaration">proc </aside>initiate_shot<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L79">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 79"/></a></aside>
        </h3>
        <p>Insert the component in the bucket system if it was not in already</p><h3 id="proc/modify_autoburstfire_shot_delay"><aside class="declaration">proc </aside>modify_autoburstfire_shot_delay<aside>(/<a href="datum.html">datum</a>/source, _auto_burst_fire_shot_delay) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L74">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 74"/></a></aside>
        </h3>
        <p>Setter for autoburst shot delay</p><h3 id="proc/modify_burst_shots_to_fire"><aside class="declaration">proc </aside>modify_burst_shots_to_fire<aside>(/<a href="datum.html">datum</a>/source, _burst_shots_to_fire) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L64">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 64"/></a></aside>
        </h3>
        <p>Setter for the number of shot in a burst</p><h3 id="proc/modify_burstfire_shot_delay"><aside class="declaration">proc </aside>modify_burstfire_shot_delay<aside>(/<a href="datum.html">datum</a>/source, _burstfire_shot_delay) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L69">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 69"/></a></aside>
        </h3>
        <p>Setter for burst shot delay</p><h3 id="proc/modify_fire_mode"><aside class="declaration">proc </aside>modify_fire_mode<aside>(/<a href="datum.html">datum</a>/source, _fire_mode) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L54">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 54"/></a></aside>
        </h3>
        <p>Setter for fire mode</p><h3 id="proc/modify_fire_shot_delay"><aside class="declaration">proc </aside>modify_fire_shot_delay<aside>(/<a href="datum.html">datum</a>/source, _auto_fire_shot_delay) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L59">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 59"/></a></aside>
        </h3>
        <p>Setter for auto fire shot delay</p><h3 id="proc/process_shot"><aside class="parent"><a title="/datum/component/automatedfire" href="datum/component/automatedfire.html#proc/process_shot">&uarr;</a></aside>process_shot<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L111">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 111"/></a></aside>
        </h3>
        <p>Ask the shooter to fire and schedule the next shot if need</p><h3 id="proc/stop_firing"><aside class="declaration">proc </aside>stop_firing<aside>() 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/autofire.dm#L89">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;autofire.dm 89"/></a></aside>
        </h3>
        <p>Remove the component from the bucket system if it was in</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/tgstation/TerraGov-Marine-Corps/tree/bfeaf60f069b9d753b339afccdc0b16b13f5cff1">bfeaf60</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
