@use 'sass:map';

$background: hsl(0, 0%, 7.5%);
$button: hsl(0, 0%, 12.2%);
$lightMode: hsl(0, 0%, 100%);
$lightBorder: hsl(0, 0%, 73.3%);
$lightHover: hsl(0, 0%, 91.8%);
$scrollbar-color-multiplier: 1 !default;

$_channel_map: (
  'Say': hsl(213.6, 37.9%, 74.1%),
  'Radio': hsl(132.8, 74.4%, 45.9%),
  'Me': hsl(227, 63.5%, 60.2%),
  'OOC': hsl(47.9, 100%, 40%),
  'LOOC': hsl(44, 62.7%, 59%),
  'XOOC': hsl(315, 100%, 42%),
  'MOOC': hsl(32, 100%, 42%),
  'Admin': hsl(300, 100%, 86.7%),
  'Mentor': hsl(120, 50.7%, 39.8%),
  'AI': hsl(332.2, 59.6%, 60.2%),
  'io': hsl(209.6, 100%, 55.9%),
  'Cmd': hsl(218.8, 50%, 54.5%),
  'Engi': hsl(24.1, 75.5%, 53.5%),
  'Hive': hsl(314.9, 54.1%, 45.3%),
  'Med': hsl(169.9, 68.4%, 45.9%),
  'CAS': hsl(349.9, 67.8%, 50%),
  'Req': hsl(33.7, 44.9%, 49.8%),
  'Alpha': hsl(0, 62%, 53%),
  'Bravo': hsl(38, 62%, 55%),
  'Charlie': hsl(300, 51%, 58%),
  'Delta': hsl(228, 79%, 62%),
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map.merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
