@use 'sass:map';

$background: #131313;
$button: #1f1f1f;
$lightMode: #ffffff;
$lightBorder: #bbbbbb;
$lightHover: #eaeaea;

$_channel_map: (
  'Say': #a4bad6,
  'Radio': #1fc01f,
  'Me': #5975da,
  'OOC': #4c6dff,
  'LOOC': #3a9696,
  'XOOC': #004ed8,
  'MOOC': #004ed8,
  'Admin': #ffbbff,
  'Mentor': #329932,
  'AI': #d65d95,
  'io': #1e90ff,
  'Cmd': #3e67b2,
  'Engi': #cc631e,
  'Hive': #b23593,
  'Med': #158c78,
  'CAS': #dd3535,
  'Req': #b88646,
  'alpha': #bf2f2f,
  'bravo': #d4a046,
  'charlie': #b259b2,
  'delta': #3656d8,
);

$channel_keys: map.keys($_channel_map) !default;

$channel-map: ();

@each $channel in $channel_keys {
  $channel-map: map-merge(
    $channel-map,
    (
      $channel: map.get($_channel_map, $channel),
    )
  );
}
