<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>TerraGov Marine Corps Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>


<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Welcome to TGMC!</b></font></div><br>
			<div align='center'><font size='2'><i>TerraGov Marine Corps is a medium roleplay Space Station 13 server branched off CM-SS13, which branched off Baystation 12, which branched off /tg/Station 13.</i></font></div>
			<br>
			<div align='center'><font size='3'><a href="https://tgstation13.org/wiki/TGMC:Rules">Rules</a> | <a href="https://tgstation13.org/phpBB/viewforum.php?f=64">Forum</a> | <a href="https://tgstation13.org/wiki/TGMC">Wiki</a><br></font></div>
		</td>
	</tr>
</table>


<br><b>TerraGov Marine Corps Development Team</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Hosts:</b> MrStonedOne<br></font>
			<font size='2'><b>Head Developers:</b> Ninjanomnom<br></font>
			<font size='2'><b>Gameplay Designers:</b> Rohesie<br></font>
			<font size='2'><b>Repo Maintainers:</b> Ninjanomnom, Rohesie, Qustinnus, Alterist, LaKiller8<br></font>
			<font size='2'><b>Coders:</b> Ghommie, fosstar, Surrealistik, Jared-Fogle, JJRcop, Rohesie, JamesDenholm, Alterist, LetterN, Francinum, LaKiller8 <br></font>
			<font size='2'><b>Spriters:</b> Ghommie, Alterist, Arachnidnexus, Jimminian95, DalekThePerson<br></font>
			<font size='2'><b>Sounds:</b><br></font>
			<font size='2'><b>Main Testers:</b> Anybody who has submitted an issue on the github's repository.<br></font>
			<font size='2'><b>Thanks to:</b> The CM-SS13 devs, The Russian CM, Baystation 12, /tg/Station, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs and the original SpaceStation 13 developers.</font>
		</td>
	</tr>
</table>

<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='2'><br> Changelogs:
			<a href="changelog2015.html">2015</a> |
			<a href="changelog2016.html">2016</a> |
			<a href="changelog2017.html">2017</a> |
			<a href="changelog20181.html">2018 (till July)</a> |
			<a href="changelog20182.html">2018 (till December)</a> |
			<a href="changelog.html">2019</a><br></font>
			</div>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">