<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>TerraGov Marine Corps Changelog</title>
  <link rel="stylesheet" type="text/css" href="changelog.css">
  <base target="_blank" />
  <script type='text/javascript'>

	function changeText(tagID, newText, linkTagID){
		var tag = document.getElementById(tagID);
		tag.innerHTML = newText;
		var linkTag = document.getElementById(linkTagID);
		linkTag.removeAttribute("href");
		linkTag.removeAttribute("onclick");
	}

  </script>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>


<body>
<table align='center' width='650'><tr><td>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<div align='center'><font size='3'><b>Welcome to TGMC!</b></font></div><br>
			<div align='center'><font size='2'><i>TerraGov Marine Corps is a medium roleplay Space Station 13 server branched off CM-SS13, which branched off Baystation 12, which branched off /tg/Station 13.</i></font></div>
			<br>
			<div align='center'><font size='3'><a href="https://tgstation13.org/wiki/TGMC:Rules">Rules</a> | <a href="https://tgstation13.org/phpBB/viewforum.php?f=64">Forum</a> | <a href="https://tgstation13.org/wiki/TGMC">Wiki</a><br></font></div>
		</td>
	</tr>
</table>


<br><b>TerraGov Marine Corps</b>
<table align='center' class="top">
	<tr>
		<td valign='top'>
			<font size='2'><b>Staff:</b> <a href='https://tgstation13.org/phpBB/viewtopic.php?f=69&t=19855'>Here</a><br></font>
			<font size='2'><b>Contributors:</b> <a href='https://github.com/tgstation/TerraGov-Marine-Corps/graphs/contributors'>Here</a><br></font>
			<font size='2'><b>Thanks to:</b> The CM-SS13 devs, The Russian CM, Baystation 12, /tg/Station, /vg/station, NTstation, CDK Station devs, FacepunchStation, GoonStation devs and the original SpaceStation 13 developers.</font>
		</td>
	</tr>
</table>

		<!--
		
		TO ADD AN ENTRY, ADD AND MAINTAIN YOUR OWN changelog/USERNAME.yml FILE. 
		
		*** DO NOT FUCK WITH THIS FILE OR YOU WILL CAUSE MERGE CONFLICTS. ***
		
		-->
		<div class="commit sansserif">
