<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>&#x2F;datum&#x2F;component&#x2F;shield&#x2F;overhealth - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
 &mdash; <a href="datum/component/shield/overhealth.html#proc">Proc Details</a></header>
<main>
<h1>overhealth <aside>/<a href="datum.html">datum</a>/<a href="datum/component.html">component</a>/<a href="datum/component/shield.html">shield</a>/<a href="datum/component/shield/overhealth.html">overhealth</a></aside>
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/shield.dm#L209">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shield.dm 209"/></a></h1>

<table class="summary" cellspacing="0"><tr><td colspan="2"><h2>Procs</h2></td></tr>
            <tr><th><a href="datum/component/shield/overhealth.html#proc/damage_overhealth">damage_overhealth</a></th><td>Applies damage to overshield</td></tr>
            <tr><th><a href="datum/component/shield/overhealth.html#proc/overhealth_intercept_attack">overhealth_intercept_attack</a></th><td>Checks if damage should be passed to overshield</td></tr>
            <tr><th><a href="datum/component/shield/overhealth.html#proc/transfer_damage_to_overhealth">transfer_damage_to_overhealth</a></th><td>Calculates actual damage to the shield, returning total amount that penetrates</td></tr></table><h2 id="proc">Proc Details</h2><h3 id="proc/damage_overhealth"><aside class="declaration">proc </aside>damage_overhealth<aside>(amount) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/shield.dm#L259">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shield.dm 259"/></a></aside>
        </h3>
        <p>Applies damage to overshield</p><h3 id="proc/overhealth_intercept_attack"><aside class="declaration">proc </aside>overhealth_intercept_attack<aside>(attack_type, incoming_damage, damage_type, silent) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/shield.dm#L236">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shield.dm 236"/></a></aside>
        </h3>
        <p>Checks if damage should be passed to overshield</p><h3 id="proc/transfer_damage_to_overhealth"><aside class="declaration">proc </aside>transfer_damage_to_overhealth<aside>(absorbing_damage, unabsorbed_damage, silent) 
        
    
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/shield.dm#L249">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;shield.dm 249"/></a></aside>
        </h3>
        <p>Calculates actual damage to the shield, returning total amount that penetrates</p></main>
<footer>
    tgmc.dme
    <a href="https://github.com/tgstation/TerraGov-Marine-Corps/tree/bfeaf60f069b9d753b339afccdc0b16b13f5cff1">bfeaf60</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
