@use '../base.scss';
@use '../colors.scss';
@use '../functions.scss' as *;

$color-danger: hsl(0, 72.5%, 45.7%) !default;

.Mecha__displayBox {
  background-color: hsl(125.6, 100%, 6.3%);
  border: 0.167em inset hsl(52.3, 40.3%, 84.9%);
  color: hsl(125.4, 97.4%, 44.5%);
  font-size: 2em;
  font-family: monospace;
  padding: 0.25em;
}

.Mecha__displayBoxRed {
  background-color: hsl(125.6, 100%, 6.3%);
  border: 0.167em inset hsl(52.3, 40.3%, 84.9%);
  color: hsl(0, 89.5%, 62.7%);
  font-size: 2em;
  font-family: monospace;
  padding: 0.25em;
}

.Mecha__Button {
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.Mecha__ButtonDanger {
  background-color: $color-danger !important;
  border-color: $color-danger !important;
  outline-width: 0.25rem !important;
  border-width: 0.65rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  &:hover {
    background-color: lighten($color-danger, 15%) !important;
    border-color: lighten($color-danger, 15%) !important;
  }
}
