/*****************************************
*
* GLOBAL STYLES
*
******************************************/
html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	color: #eeeeee;
}
body {
	background: #111111;
   font-family: Verdana, sans-serif;
   font-size: 9pt;
   line-height: 1.2;
	overflow-x: hidden;
	overflow-y: scroll;
	word-wrap: break-word;
	scrollbar-face-color:#111111;
	scrollbar-track-color:#202020;
	scrollbar-highlight-color:#464646;
}

em {
	font-style: normal;
	font-weight: bold;
}

img {
	margin: 0;
	padding: 0;
	line-height: 1;
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: pixelated;
}
img.icon {
	height: 1em;
	min-height: 16px;
	width: auto;
	vertical-align: bottom;
}


.r:before { /* "repeated" badge class for combined messages */
	content: 'x';
}
.r {
	display: inline-block;
	min-width: 0.5em;
	font-size: 0.7em;
	padding: 0.2em 0.3em;
	line-height: 1;
	color: white;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	background-color: crimson;
	border-radius: 10px;
}

a {color: #397ea5;}
a.visited {color: #7c00e6;}
a:visited {color: #7c00e6;}
a.popt {text-decoration: none;}

/*****************************************
*
* OUTPUT NOT RELATED TO ACTUAL MESSAGES
*
******************************************/
#loading {
	position: fixed;
	width: 300px;
	height: 150px;
	text-align: center;
	left: 50%;
	top: 50%;
	margin: -75px 0 0 -150px;
}
#loading i {display: block; padding-bottom: 3px;}

#messages {
	font-size: 13px;
	padding: 3px;
	margin: 0;
	word-wrap: break-word;
}
#newMessages {
	position: fixed;
	display: block;
	bottom: 0;
	right: 0;
	padding: 8px;
	background: #202020;
	text-decoration: none;
   font-variant: small-caps;
   font-size: 1.1em;
   font-weight: bold;
	color: #dddddd;
}
#newMessages:hover {background: #2b2b2b;}
#newMessages i {vertical-align: middle; padding-left: 3px;}
#userBar {
	position: fixed;
	top: 0;
	right: 0;
}
#userBar .subCell {
	background: #202020;
   height: 30px;
	padding: 5px 0;
	display: block;
	color: #dddddd;
	text-decoration: none;
   line-height: 28px;
   border-top: 1px solid #b4b4b4;
}
#userBar .subCell:hover {background: #2b2b2b;}
#userBar .toggle {
	width: 40px;
   background: #202020;
   border-top: 0;
   float: right;
   text-align: center;
}
#userBar .sub {clear: both; display: none; width: 160px;}
#userBar .sub.scroll {overflow-y: scroll;}
#userBar .sub.subCell {padding: 3px 0 3px 8px; line-height: 30px; font-size: 0.9em; clear: both;}
#userBar .sub span {
	display: block;
	line-height: 30px;
	float: left;
}
#userBar .sub i {
	display: block;
	padding: 0 5px;
	font-size: 1.1em;
	width: 22px;
	text-align: center;
	line-height: 30px;
	float: right;
}
#userBar .sub input {
	position: absolute;
	padding: 7px 5px;
	width: 121px;
	line-height: 30px;
	float: left;
}
#userBar .topCell {border-top: 0;}

/* POPUPS */
.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	background: #dddddd;
}
.popup .close {
	position: absolute;
	background: #aaaaaa;
	top: 0;
	right: 0;
	color: #333333;
	text-decoration: none;
	z-index: 2;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
}
.popup .close:hover {background: #999999;}
.popup .head {
	background: #999999;
	color: #dddddd;
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	border-bottom: 2px solid green;
}
.popup input {border: 1px solid #999999; background: #ffffff; margin: 0; padding: 5px; outline: none; color: #333333;}
.popup input[type=text]:hover, .popup input[type=text]:active, .popup input[type=text]:focus {border-color: green;}
.popup input[type=submit] {padding: 5px 10px; background: #999999; color: #dddddd; text-transform: uppercase; font-size: 0.9em; font-weight: bold;}
.popup input[type=submit]:hover, .popup input[type=submit]:focus, .popup input[type=submit]:active {background: #aaaaaa; cursor: pointer;}

.changeFont {padding: 10px;}
.changeFont a {display: block; text-decoration: none; padding: 3px; color: #333333;}
.changeFont a:hover {background: #cccccc;}

.highlightPopup {padding: 10px; text-align: center;}
.highlightPopup input[type=text] {display: block; width: 215px; text-align: left; margin-top: 5px;}
.highlightPopup input.highlightColor {background-color: #FFFF00;}
.highlightPopup input.highlightTermSubmit {margin-top: 5px;}

.icon-stack {height: 1em; line-height: 1em; width: 1em; vertical-align: middle; margin-top: -2px;}


/*****************************************
*
* OUTPUT ACTUALLY RELATED TO MESSAGES
*
******************************************/

/* ADD HERE FOR BOLD */
.bold, .name, .prefix, .ooc, .looc, .adminooc, .admin, .medal, .yell {font-weight: bold;}

/* ADD HERE FOR ITALIC */
.italic, .italics,  .emote {font-style: italic;}

/* OUTPUT COLORS */
.highlight {background: yellow;}

.motd					{color: #638500;	font-family: Verdana, sans-serif;}
.motd h1, .motd h2, .motd h3, .motd h4, .motd h5, .motd h6
	{color: #638500;	text-decoration: underline;}
.motd a, .motd a:link, .motd a:visited, .motd a:active, .motd a:hover
	{color: #638500;}
.tip					{color: #a000c4;	font-weight: bold;}

.prefix					{					font-weight: bold;}

.ooc					{					font-weight: bold;}
.colorooc				{color: #004ed8;	font-weight: bold;}
.looc					{color: #3A9696;	font-weight: bold;}
.hostooc				{color: #666666;	font-weight: bold;}
.projleadooc			{color: #794C99;	font-weight: bold;}
.headcoderooc			{color: #5994B2;	font-weight: bold;}
.headminooc				{color: #A5425E;	font-weight: bold;}
.headmentorooc			{color: #44998C;	font-weight: bold;}
.adminooc				{color: #BF3951;	font-weight: bold;}
.trialminooc			{color: #CC4E47;	font-weight: bold;}
.candiminooc			{color: #CC6E51;	font-weight: bold;}
.mentorooc				{color: #549954;	font-weight: bold;}
.maintainerooc			{color: #2B73D8;	font-weight: bold;}
.contributorooc			{color: #2B73D8;	font-weight: bold;}
.otherooc				{color: #835a32;	font-weight: bold;}

.msay					{color: #99816B;	font-weight: bold;}
.adminmsay				{color: #A57852;	font-weight: bold;}
.headminmsay			{color: #BF745F;	font-weight: bold;}

.admin					{color: #3F72FF;	font-weight: bold;}
.asay					{color: #A65BCC;	font-weight: bold;}
.headminasay			{color: #8C5BA5;	font-weight: bold;}
.boldannounce			{color: #CC3333;	font-weight: bold;}

.staffpmin				{color: #BF3939;	font-weight: bold;}
.staffpmout				{color: #4B60D8;	font-weight: bold;}

.adminnotice			{color: #3d5bc3;}
.adminhelp              {color: #c51e1e;    font-weight: bold;}

.name					{					font-weight: bold;}


.say					{color: #BFBFBF;}
.deadsay				{color: #8251CC;}
.radio					{color: #4D8C56;}
.deptradio				{color: #7447CC;}
.comradio				{color: #526FA5;} /* text-shadow: #474747 1px 3px 2px, 0px 0px 0px #266875;*/
.syndradio				{color: #6D3F40;}
.centradio				{color: #7474A5;}
.airadio				{color: #7447CC;}

.casradio				{color: #9E2F49;}
.engradio				{color: #A56E21;}
.medradio				{color: #388C74;}
.sciradio				{color: #B55AB5;}
.supradio				{color: #996F2D;}

.alpharadio				{color: #CC3333;}
.bravoradio				{color: #C68610;}
.charlieradio			{color: #AA55AA;}
.deltaradio				{color: #3A59D9;}

.binarysay    			{color: #20c20e; background-color: #000000; display: block;}
.binarysay a  			{color: #00ff00;}
.binarysay a:active, .binarysay a:visited {color: #88ff88;}

.alert					{color: #ff0000;}
h1.alert, h2.alert		{color: #99aab5;}

.emote					{					font-style: italic;}
.selecteddna			{color: #FFFFFF; 	background-color: #001B1B}

.singing				{font-family: "Trebuchet MS", cursive, sans-serif; font-style: italic;}

.attack					{color: #ff0000;}
.moderate				{color: #CC0000;}
.disarm					{color: #B23535;}
.passive				{color: #B25D35;}

.scanner			{color: #ff0000;}
.scannerb			{color: #ff0000;	font-weight: bold;}
.scannerburn	{color: #ffa500;}
.scannerburnb	{color: #ffa500;	font-weight: bold;}
.rose					{color: #ff5050;}
.info					{color: #6C6CD8;}
.debuginfo				{color: #B2A285;	font-style: italic;}
.notice					{color: #6C6CD8;}
.xenonotice				{color: #6BB280;}
.boldnotice				{color: #6C6CD8;	font-weight: bold;}
.warning				{color: #D85656;	font-style: italic;}
.xenowarning			{color: #6BB280;	font-style: italic;}
.danger					{color: #BF4039;	font-weight: bold;}
.xenodanger				{color: #6BB280;	font-weight: bold;}
.avoidharm				{color:	#72a0e5;	font-weight: bold;}
.highdanger				{color: #D84B41;	font-weight: bold; font-size: 1.5em;}
.xenohighdanger			{color: #6BB280; 	font-weight: bold; font-size: 1.5em;}
.xenoannounce           {color: #4C9964;    font-family: book-antiqua; font-weight: bold; font-style: italic; font-size: 1.5em;}
.hivemind				{color: #BF39AF;     font-weight: bold;}
.xenoqueen				{font-size: 1.4em;}
.xenoshrike				{font-size: 1.2em;}
.xenohivemind			{font-size: 1.2em;}
.ordercic				{font-weight: bold; font-size: 1.1em}
.xenoleader				{font-size: 1.2em;}


.alien					{color: #543354;}
.newscaster				{color: #B22323;}

.role_header			{color: #db0000;	display: block; text-align: center; font-weight: bold; font-family: trebuchet-ms; font-size: 1.5em;}
.role_body				{color: #5a5abd;	display: block; text-align: center;}

.round_setup			{color: #db0000;		font-family: impact; font-size: 1.25em;}
.round_header			{color: #db0000; 	display: block; text-align: center; font-family: courier; font-weight: bold; font-size: 2em;}
.round_body				{color: #6685f5; 	display: block; text-align: center; font-family: trebuchet-ms; font-weight: bold; font-size: 1.5em;}
.event_announcement		{color: #966fd6; 	font-family: arial-narrow; font-size: 1.5em;}

.centerbold				{				 	text-align: center; font-weight: bold;}

.tajaran				{color: #803B56;}
.tajaran_signlang		{color: #941C1C;}
.skrell					{color: #00CED1;}
.soghun					{color: #228B22;}
.changeling				{color: #800080;}
.vox					{color: #AA00AA;}
.rough					{font-family: trebuchet-ms, cursive, sans-serif;}
.say_quote				{font-family: Georgia, Verdana, sans-serif;}
.command_headset		{font-weight: bold; font-size: 18px;}
.robot					{font-family: "Courier New", cursive, sans-serif;}


.green					{color: #059223;}
.nicegreen				{color: #059223;}
.shadowling				{color: #3b2769;}
.cult					{color: #740202;}
.cultlarge				{color: #740202; font-weight: bold; font-size: 3;}
.narsie					{color: #740202; font-weight: bold; font-size: 15;}
.narsiesmall			{color: #740202; font-weight: bold; font-size: 6;}
.colossus				{color: #7F282A; font-size: 5;}
.hierophant				{color: #660099; font-weight: bold; font-style: italic;}
.hierophant_warning		{color: #660099; font-style: italic;}
.purple					{color: #7c00e6;}
.holoparasite			{color: #35333a;}

.revennotice			{color: #1d2953;}
.revenboldnotice		{color: #1d2953;	font-weight: bold;}
.revenbignotice			{color: #1d2953;	font-weight: bold; font-size: 3;}
.revenminor				{color: #823abb}
.revenwarning			{color: #760fbb;	font-style: italic;}
.revendanger			{color: #760fbb;	font-weight: bold; font-size: 3;}
.umbra					{color: #7c00e6;}
.umbra_emphasis			{color: #7c00e6;	font-weight: bold;	font-style: italic;}
.umbra_large			{color: #7c00e6; font-size: 3; font-weight: bold; font-style: italic;}

.deconversion_message	{color: #7c00e6; font-size: 3; font-style: italic;}

.interface				{color: #750e75;}

.connectionClosed, .fatalError {background: red; color: white; padding: 5px;}
.connectionClosed.restored {background: green;}
.internal.boldnshit {color:#3d5bc3; font-weight: bold;}

/* HELPER CLASSES */
.text-normal {font-weight: normal; font-style: normal;}
.hidden {display: none; visibility: hidden;}


.hidelink {
	text-decoration: none;
	color: inherit;
}
.hidelink:hover {
	text-decoration: underline;
}
