<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <base href="../../../" />
    <link rel="stylesheet" href="dmdoc.css" />
    <title>code&#x2F;datums&#x2F;components&#x2F;connect_loc_behalf.dm - byond</title>
</head>
<body>
<header>
    <a href="index.html">byond</a> -
    <a href="index.html#modules">Modules</a> -
    <a href="index.html#types">Types</a>
</header>
<main>
<h1>code/datums/components/connect_loc_behalf.dm 
            <a href="https://github.com/tgstation/TerraGov-Marine-Corps/blob/bfeaf60f069b9d753b339afccdc0b16b13f5cff1/code/datums/components/connect_loc_behalf.dm">
        <img src="git.png" width="16" height="16" title="code&#x2F;datums&#x2F;components&#x2F;connect_loc_behalf.dm"/></a></h1>

<table class="summary" cellspacing="0">
        <tr><th><a href="datum&#x2F;component&#x2F;connect_loc_behalf.html">&#x2F;datum&#x2F;component&#x2F;connect_loc_behalf</a></th><td>This component behaves similar to connect_loc, hooking into a signal on a tracked object's turf
It has the ability to react to that signal on behalf of a seperate listener however
This has great use, primarially for components, but it carries with it some overhead
So we do it seperately as it needs to hold state which is very likely to lead to bugs if it remains as an element.</td></tr></table></main>
<footer>
    tgmc.dme
    <a href="https://github.com/tgstation/TerraGov-Marine-Corps/tree/bfeaf60f069b9d753b339afccdc0b16b13f5cff1">bfeaf60</a>
        (master) &mdash; <a href="https://github.com/SpaceManiac/SpacemanDMM/blob/master/crates/dmdoc/README.md">dmdoc 1.8.0</a></footer>
</body>
</html>
