.em{height:1.5em;width:1.5em;background-position:center;background-repeat:no-repeat;background-size:contain;display:inline-block;vertical-align:middle;text-indent:100%;white-space: nowrap;overflow:hidden;}
.em-huntercqc{background-image:url("huntercqc.png")}
.em-huntereyes{background-image:url("huntereyes.png")}
.em-autospitter{background-image:url("autospitter.png")}
.em-hyperthonk{background-image:url("hyperthonk.png")}
