{{if data.hijack_state != 0}}

<img style="display: block; width: 100%; height: 100%;" src='https://mynoise.net/Data/WHITE/fb.jpg' />

{{else}}
<h3>Ship Status</h3> 
<center>{{:data.ship_status}}</center>

<h3>Destinations</h3> 
{{for data.destinations}}
	{{:helper.link(value.name, null, {'move' : value.id}, (data.mode != "call") ? null : 'disabled', null)}}
{{/for}}
<h3>Door Controls</h3>
<div style="background-image: url('https://i.imgur.com/QqM5nMS.png');">
	<div>
		<center style="float: none !important;">
		<h4>All</h4>
		{{:helper.link("Lockdown", null, {'lockdown' : '1'}, null, null)}}
		{{:helper.link("Unlock", null, {'release' : '1'}, null, null)}}
		</center>
	</div>
	<div style="clear: both;"></div>
	<br />	<br /><br />
	<div style="float: left;">
		<center>
		<h4>Left</h4>
		{{:helper.link("Lockdown", null, {'lock' : 'left'}, null, null)}}
		{{:helper.link("Unlock", null, {'unlock' : 'left'}, null, null)}}
		</center>
	</div>
	<div style="float: right;">
		<center>
		<h4>Right</h4>
		{{:helper.link("Lockdown", null, {'lock' : 'right'}, null, null)}}
		{{:helper.link("Unlock", null, {'unlock' : 'right'}, null, null)}}
		</center>
	</div>
	<div style="clear: both;"></div>
	<br />	<br /><br />
	<div>
		<center style="float: none !important;">
		<h4>Rear</h4>
		{{:helper.link("Lockdown", null, {'lock' : 'rear'}, null, null)}}
		{{:helper.link("Unlock", null, {'unlock' : 'rear'}, null, null)}}
		</center>
	</div>
</div>
{{/if}}
