.column {
    float: left;
    flex-wrap: wrap;
}

.left {
    width: 280px;
}

.middle {
    width: 80px;
}

.right {
    width: 150px;
}

.row {
    content: '';
    display: table;
    clear: both;
}

.reason {
    resize: none;
    min-height: 100px;
    width: 340px;
}

.rolegroup {
    padding: 3px;
    width: 430px;
    border: none;
    text-align: center;
    outline: none;
    display: inline-block;
}

.long {
    width: 860px;
}

.content {
    text-align: center;
}

.civilian {
	background-color: #b6a99b;
}

.command {
    background-color: #948f02;
}

.police {
    background-color: #a30000;
}

.engineering {
    background-color: #fb5613;
}

.medical {
    background-color: #337296;
}

.marine {
	background-color: #993399;
}

.requisitions {
    background-color: #a8732b;
}

.unassigned {
	background-color: #b0b0b0;
}

.silicon {
	background-color: #88b64d;
}

.xenomorph {
	background-color: #8972AA;
}


.abstract {
    background-color: #708090;
}


.rolepositions {
    background-color: #6d3f40;
}

.inputbox {
    position: absolute;
    top: 0px;
    left: 4px;
    width: 14px;
    height: 14px;
    background: #e6e6e6;
}

.select {
    position: relative;
    display: inline-block;
}

.hidden {
    display: none;
}
