fieldset.latejoin {
	display: inline-block;
	width: 225px;
	border: 2px solid black;
	margin: 0 20px
}

.job {
	display: block;
	width: 200px;
	margin: 0 auto;
}

.command {
	font-weight: bold;
}

.nopositions {
	font-style: italic;
}

.latejoin-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.latejoin-container > fieldset {
	flex-shrink: 0;
	flex-grow: 1;
}
